## Case study in Python using the MovieLens Dataset

1) 학습자료에서 pandas의 file read와 sci-kit learn의 pairwise distance 없이 같은 코드 구현해보기 (즉, file read 부분과 pair-wise distance 부분을 직접 구현해보기 - numpy는 사용가능) pairwise는 pearson correlation, cosine similarity, adjust cosine similarity를 구현해보기

In [4]:
import pandas as pd
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics.pairwise import pairwise_distances

In [3]:
#users
u_cols = ['user_id', 'age','sex','occupation', 'zip_code']
users = pd.read_csv('2_2_data_ml-100k/u.user', sep="|", names=u_cols, encoding='latin-1')

#ratings
r_cols = ['user_id','movie_id','rating','unix_timestamp']
ratings = pd.read_csv('2_2_data_ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

#items
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('2_2_data_ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

FileNotFoundError: File b'2_2_data_ml-100k/u.user' does not exist

In [11]:
#users
print(users.shape)
users.head(10)

(943, 5)

   user_id  age sex     occupation zip_code
0        1   24   M     technician    85711
1        2   53   F          other    94043
2        3   23   M         writer    32067
3        4   24   M     technician    43537
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201
8        9   29   M        student    01002
9       10   53   M         lawyer    90703

In [13]:
#ratings
print(ratings.shape)
ratings.head(10)

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596
5      298       474       4       884182806
6      115       265       2       881171488
7      253       465       5       891628467
8      305       451       3       886324817
9        6        86       3       883603013

In [1]:
ratings[0][1]

NameError: name 'ratings' is not defined

In [14]:
#items
print(items.shape)
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

- This dataset contains attributes of 1682 movies. There are 24 columns out of which last 19 columns specify the genre of a particular movie. These are binary columns, i.e., a value of 1 denotes that the movie belongs to that genre, and 0 otherwise.

- The dataset has already been divided into train and test by GroupLens where the test data has 10 ratings for each user, i.e. 9,430 rows in total. We will read both these files into our Python environment.

In [16]:
r_cols=['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train= pd.read_csv('2_2_data_ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test= pd.read_csv('2_2_data_ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

## Building collaborative filtering model from scratch

- We will recommend movies based on user-user similarity and item-item similarity. For that, first we need to calculate the number of unique users and movies.

In [21]:
n_users = ratings.user_id.unique().shape[0] # 중복값제외하고 행 개수 
n_items = ratings.movie_id.unique().shape[0]

- Now, we will create a user-item matrix which can be used to calculate the similarity between users and items.

In [64]:
data_matrix = np.zeros((n_users, n_items))

###????
for line in ratings.itertuples(): #rating df에서 한 줄 씩 불러옴
    data_matrix[line[1]-1, line[2]-1]=line[3]

In [31]:
'''
print(data_matrix.shape)
print(len(data_matrix))
print(len(data_matrix[1]))
'''

(943, 1682)
943
1682

In [37]:
data_matrix

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

- Now, we will calculate the similarity. We can use the pairwise_distance function from sklearn to calculate the cosine similarity.

In [107]:
#cosine similarity
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

#correlation
user_similarity1 = pairwise_distances(data_matrix, metric='correlation')
item_similarity1 = pairwise_distances(data_matrix.T, metric='correlation')

#adjusted similarity (표준화 한 후 similarity 계산)
mean_user = data_matrix.mean(axis=1)[:,np.newaxis]
mean_item = data_matrix.mean(axis=0)[:,np.newaxis]

new_data_matrix_user = data_matrix - mean_user
new_data_matrix_item = data_matrix.T - mean_item


user_similarity2 = pairwise_distances(new_data_matrix_user, metric = 'cosine')
item_similarity2 = pairwise_distances(new_data_matrix_item, metric = 'cosine')

#print(user_similarity)
#print(user_similarity1)
print(item_similarity1)
print(item_similarity2)

[[0.         0.76540547 0.80663792 ... 1.02967574 0.96582127 0.96582127]
 [0.76540547 0.         0.8093514  ... 1.01245099 0.92858465 0.92858465]
 [0.80663792 0.8093514  0.         ... 1.00976446 1.00976446 0.90857887]
 ...
 [1.02967574 1.01245099 1.00976446 ... 0.         1.00106157 1.00106157]
 [0.96582127 0.92858465 1.00976446 ... 1.00106157 0.         1.00106157]
 [0.96582127 0.92858465 0.90857887 ... 1.00106157 1.00106157 0.        ]]
[[0.         0.76540547 0.80663792 ... 1.02967574 0.96582127 0.96582127]
 [0.76540547 0.         0.8093514  ... 1.01245099 0.92858465 0.92858465]
 [0.80663792 0.8093514  0.         ... 1.00976446 1.00976446 0.90857887]
 ...
 [1.02967574 1.01245099 1.00976446 ... 0.         1.00106157 1.00106157]
 [0.96582127 0.92858465 1.00976446 ... 1.00106157 0.         1.00106157]
 [0.96582127 0.92858465 0.90857887 ... 1.00106157 1.00106157 0.        ]]

- This gives us the item-item and user-user similarity in an array form. The next step is to make predictions based on these similarities. Let’s define a function to do just that.

In [85]:
def predict(ratings, similarity, type='user'):
    if type =='user':
        mean_user_rating = ratings.mean(axis=1) #row 방향 
        ratings_diff = (ratings - mean_user_rating[:,np.newaxis]) #np.newaxis - mean_user_rating 과 같은 foarmat 위해 
                                                                  #a[:,np.newaxis] : 열방향 재배열 / a[np.newaxis,:] : 행방향 재배열
        pred = mean_user_rating[:,np.newaxis] +  similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])

    return pred

In [86]:
user_pred = predict(data_matrix, user_similarity, type='user')
item_pred = predict(data_matrix, item_similarity, type='item')

----

선택 학습 2 (선택): 학습자료에서 data matrix 부분을 numpy array가 아닌 sparse matrix로 바꾸어 구현해보기, 참고: https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.html )

In [108]:
import numpy as np
from scipy.sparse import csr_matrix

In [ ]:
#users
u_cols=['user_id', 'age','sex','occupation', 'zip_code']
users=pd.read_csv('2_2_data_ml-100k/u.user', sep="|", names=u_cols, encoding='latin-1')

#ratings
r_cols=['user_id','movie_id','rating','unix_timestamp']
ratings=pd.read_csv('2_2_data_ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

#items
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('2_2_data_ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

In [109]:
n_users = ratings.user_id.unique().shape[0] # 중복값제외하고 행 개수 
n_items = ratings.movie_id.unique().shape[0]

In [119]:
data_matrix = csr_matrix((n_users, n_items)).toarray()
data_matrix


for line in ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1]=line[3]

In [120]:
data_matrix

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])